[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/synulewar
[access "refs/for/refs/*"]
	read = group user/synulewar
	push = group user/synulewar
	label-Code-Review = -2..+2 group user/synulewar
	label-Verified = -1..+1 group user/synulewar
	rebase = group user/synulewar
	removeReviewer = group user/synulewar
	submit = group user/synulewar
[access "refs/heads/*"]
	read = group user/synulewar
	create = group user/synulewar
	push = +force group user/synulewar
	pushMerge = group user/synulewar
[access "refs/tags/*"]
	push = +force group user/synulewar
	pushTag = group user/synulewar
	pushSignedTag = group user/synulewar
